
    <main>
        <section class="hero-section">
            <div class="container hero-container">
                    <div class="hero-content">
                        <h1 class="heading">HOME BAKERY</h1>
                        <p class="home-slogan">Baked with Love, Crafted with Art!</p>
                        <button class="button open-order-modal-btn center-btn" type="button">Order now</button>
                    </div>
                    <div class="hero-image">
                        <img src="images/home/home-hero.jpg" alt="cake">
                    </div>
            </div>
        </section>
        <section class="welcome-section ">
            <div class="container welcome-container">
                <div class="welcome-image">
                    <img src="images/home/welcome.jpg" alt="woman baker making a cake">
                </div>
                <div class="welcome-content">
                    <h2>Welcome!</h2>
                    <p>At <strong>Artful Bakery,</strong> our story begins with a simple passion for creating beautiful cakes
                    and cookies for family and friends.What started as a loving tradition has blossomed into a delightful business, but our commitment to quality and care
                    remains at the heart of everything we do.</p>
                    <p>No matter the occasion, whether it’s a birthday, wedding, or just because, our creations are made to leave a lasting
                    impression. Thank you for allowing us to be a part of your special moments!</p>
                </div>
            </div>
        </section>
        <section class="menu-section section">
            <div class="menu-container container ">
                <h2> Our Menu </h2>
                <div class="menu-list">
                    <a class="menu-item menu-link" href="cakes">
                        <img src="images/home/cake.jpg" alt="Cakes">
                        <span class="menu-title">Cakes</span>
                    </a>
                    <a class="menu-item menu-link" href="bento">
                        <img src="images/home/bento.jpg" alt="Bento Cakes">
                        <span class="menu-title">Bento Cakes</span>
                    </a>
                    <a class="menu-item menu-link" href="cookies">
                        <img src="images/home/cookies.jpg" alt="Cookies">
                        <span class="menu-title">Cookies</span>
                    </a>
                </div>
            </div>
        </section>
    </main>
    