
    <main>
        <section class="hero-section">
            <div class="container hero-container">
                <h1 class="heading hero-title">CAKES FOR EVERY CELEBRATION</h1>
                <button class="button open-order-modal-btn center-btn" type="button">Order now</button>
            </div>
        </section>
        <section class="menu-section section">
            <div class="menu-container container ">
                <h2> Our Flavors </h2>
                <div class="menu-list">
                    <div class="menu-item">
                        <img src="images/cake/cut/flavor-pistachio.jpg" alt="Cake">
                        <span class="menu-title">Pistachio Raspberry Bliss</span>
                        <p class="flavor-descr">Pistachio sponge cake, raspberry filling, and pistachio cream.</p>
                        <span class="flavor-price">Price: $48 per 1 kg</span>
                    </div>
                    <div class="menu-item">
                        <img src="images/cake/cut/flavor-snickers.jpg" alt="Cake">
                        <span class="menu-title">Snickers Delight</span>
                        <p class="flavor-descr">Chocolate sponge cake, caramel filling, peanut butter cream, and crunchy roasted peanuts.</p>
                        <span class="flavor-price">Price: $45 per 1 kg</span>
                    </div>
                    <div class="menu-item">
                        <img src="images/cake/cut/flavor-vanila.jpg" alt="Cake">
                        <span class="menu-title">Vanilla Fruit Medley</span>
                        <p class="flavor-descr">Vanilla sponge cake, mixed fruit filling (strawberries, blueberries, kiwi), and light vanilla cream.</p>
                        <span class="flavor-price">Price: $42 per 1 kg</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="custom-section section">
            <div class="custom-container container">
                <h3> 
                    <span> custom </span>
                    <span class="row2"> your cake! </span> 
                </h3>
                <p class="custom-text">You can choose from any of the incredible designs we have done in the past, or we would be thrilled to create a unique
                design just for you!</p>
            </div>
        </section>
    <section class="section">
        <div class="container">
            <h2 class="visually-hidden">Gallery</h2>
            <div class="gallery">
                <div class="panel">
                    <img src="images/cake/cake1.jpg" alt="Birthday cake with strawberries"
                            class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake2.jpg" alt="Elegant cake with flowers for her"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake3.jpg" alt="Cute cake with flowers"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake4.jpg" alt="Birthday cake for him"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake5.jpg" alt='Cake with cookie toppers "Space"'
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake6.jpg" alt="Cake with cookie toppers for girl"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake7.jpg" alt="Birthday cake for kid"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake8.jpg" alt="Birthday cake for kid"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake9.jpg" alt="Cake with bear painting and bow"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake10.jpg" alt="Cake with dinosaur figures"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake11.jpg" alt="Cake with cookie toppers"
                        class="modal-trigger">
                </div>
                <div class="panel">
                    <img src="images/cake/cake12.jpg" alt="Cartoon style cake "
                        class="modal-trigger">
                </div>
            </div>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImage" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                    alt="Modal Image">
                <div id="modal-caption"></div>
            </div>
        </div>
    </section>
    </main>
    