
    <main>
        <section class="hero-section">
            <div class="container hero-container">
                <h1 class="heading hero-title">Frosted Sugar Cookies</h1>
                <button class="button open-order-modal-btn center-btn" type="button">Order now</button>
            </div>
        </section>
        <section class="section">
            <h2 class="visually-hidden">Bento Cakes!</h2>
            <div class="container columns-container">
                <div class="column-content">
                    <p>At Artful Bakery, our frosted sugar cookies are a delightful treat that combines the warmth of ginger and cinnamon with
                    a beautifully decorated royal icing finish. Each cookie is crafted to perfection, making them not only delicious but
                    also visually stunning. You can choose from the following options:</p>
                    <ul class="cookies-list">
                        <li><strong>Decorative Box Set:</strong> A charming collection of cookies packaged beautifully for special occasions.</li>
                        <li><strong>Individual Packages:</strong> Perfect for thoughtful guest gifts or party favors.</li>
                        <li><strong>Cake Toppers:</strong> Add a personal touch to your cakes with our stunning cookie toppers.</li>
                    </ul>
                    <p>Indulge in the sweetness of our frosted sugar cookies and make your gatherings even more memorable!</p>
                </div>
                <div class="column-image">
                    <img src="images/cookies/cookies-main.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="custom-section section">
            <div class="custom-container container">
                <h3>
                    <span> custom </span>
                    <span class="row2"> your cookies! </span>
                </h3>
                <p class="custom-text">You can choose from any of the incredible designs we have done in the past, or we
                    would be thrilled to create a unique
                    design just for you!</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="visually-hidden">Gallery</h2>
                <div class="gallery gallery-cookies">
                    <div class="panel">
                        <figure><img src="images/cookies/cookies-1.jpg" alt="Set of Christmas cookies"
                                class="modal-trigger">
                            <figcaption> <strong>Set of Christmas cookies</strong> <br> $75 per dozen </figcaption>
                        </figure>
                    </div>
                    <div class="panel">
                        <figure><img src="images/cookies/cookies-2.jpg" alt="Set of Halloween cookies"
                                class="modal-trigger">
                            <figcaption> <strong>Set of Halloween cookies</strong> <br> $75 per dozen</figcaption>
                        </figure>
                    </div>
                    <div class="panel">
                        <figure><img src="images/cookies/cookies-3.jpg" alt="Harry Potter cookies" class="modal-trigger">
                            <figcaption> <strong>Harry Potter cookies</strong> <br> $90 per dozen</figcaption>
                        </figure>
                    </div>
                    <div class="panel">
                        <figure><img src="images/cookies/cookies-4.jpg" alt="Party favors" class="modal-trigger">
                            <figcaption> <strong>Party favors</strong><br>$15 per pack</figcaption>
                        </figure>
                    </div>
                    <div class="panel">
                        <figure><img src="images/cookies/cookies-5.jpg" alt="Box set of cookies" class="modal-trigger">
                            <figcaption> <strong>Box set of cookies</strong> <br> $60 per box </figcaption>
                        </figure>
                    </div>
                    <div class="panel">
                        <figure><img src="images/cookies/cookies-6.jpg" alt="Set of baby cookies" class="modal-trigger">
                            <figcaption> <strong>Set of baby cookies</strong> <br> $60 per set </figcaption>
                        </figure>
                    </div>
                </div>
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content modal-cookie" id="modalImage" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                        alt="Modal Image">
                    <div id="modal-caption"></div>
                </div>
            </div>
        </section>
    </main>
    